*{
    color: #EAD8B1;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5%;
    margin: auto;
    max-height: fit-content;
    box-sizing: border-box;
}

nav p{
    font-size: 1.5rem;
    font-weight: 500;
}
nav p a{
    text-decoration: none;
}
nav li{
    list-style: none;
    font-size: 20px;
    transition: all 0.15s;
    ::after{
        content: '';
        height: 2px;
        width: 0px;
        position: absolute;
        background-color: rgb(255, 244, 222);
        transition: all 0.5s;
        bottom: 0;
        left: 0;
        border-radius: 2px;
    }
    :hover::after{
        width: 100%;
    }
}
nav li:hover{
    transform: translateY(-3px) scale(1.2);
}

.nav-menu{
    display: flex;
    gap: 30px;
    align-items: center;
    transition: all 0.15s;
}
nav li a{
    text-decoration: none;
    position: relative;
}
.hamburger{
    display: none;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.bar{
    height: 3px;
    width: 30px;
    background-color: rgb(255, 244, 222);
    margin: 3px;
    border-radius: 3px;
    transition: all 0.15s;
}

.landing{
    display: flex;
    justify-content: center;
    margin-top: 12rem;
}
.headingText{
    text-align: center;
}
.landingButtons{
    display: flex;
    justify-content: center;
}
.landingButtons button{
    background-color: #3A6D8C;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    padding: 12px 20px;
    transition: all 0.15s;
    margin: 12px;
}
.landingButtons button span{
    position: relative;
    left: 10px;
    transition: all 0.15s;
}
.landingButtons button:hover span{
    left: 0;
}
.landingButtons button:hover .forwardArrow{
    opacity: 1;
    translate: 0px;
}
.forwardArrow{
    position: relative;
    top: 3px;
    translate: -30px;
    opacity: 0;
    transition: all 0.15s;
}
.learnMore{
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
}
.learnMore h2{
    text-align: center;
    color: #EAD8B1;
}
.keyFeatures ul{
    padding: 0;


}
.keyFeatures li{
    color: #EAD8B1;
    border: 1px solid #6A9AB0;
    list-style: none;
    padding: 0;
    padding: 20px 20px;
    font-weight: 500;
    margin: 12px 0;
    transition: all 0.15s;
}
.keyFeatures li p{
    font-weight: 100;
    color: #EAD8B1;
    margin: 0;
}
.ssteps{
    padding: 0;
    max-width: 600px;
}
.ssteps li{
    list-style: none;
    border: 2px solid #6A9AB0;
    padding: 2rem;
    margin: 12px 2px;
    width: 50%;
    float: left;
    position: relative;
    :after {
        content:"";
        height:64%;
        border-top:2px solid #6A9AB0;
        border-right:2px solid #6A9AB0;
        width:15%;
        position:absolute;
        left:100%;
        top:50%;
}
}
.ssteps li p{
    color: #EAD8B1;
}
.ssteps li:nth-child(even){
    float: right;
    :after {
        left:auto;
        right:100%;
        border-right:none;
        border-left:2px solid #6A9AB0;
    }
}
.ssteps li:nth-child(3){
    :after{
        display: none;
    }
}
.FAQ{
    max-width: 600px;
}
.ant-collapse{
    border: 1px solid #3A6D8C;
    border-radius: 0;
    background-color: transparent;
    width: auto;
    margin: 12px auto;
}

.ant-collapse-content-box{
    background-color: #6A9AB0;
}
.footer{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.footer p{
    text-align: center;
    color: #EAD8B1;
}
.footerIconsShape{
    border: 1px solid #6A9AB0;
    border-radius: 50%;
    padding: 8px;
}
.footerIcons{
    padding: 2rem 0;
    display: flex;
    gap: 10px;
}



.form{
    min-height: 88dvh;
}
.form div{
    width: 80%;
    margin: 1px auto;
}
input{
    background-color: transparent;
    padding: 12px 12px;
    accent-color: #6A9AB0;
    border: 1px solid #3A6D8C;
    margin: 1rem 0;
}
.form h1{
    text-align: center;
}
label span{
    color: rgb(250, 130, 130);
}
.information{
    display: flex;
    justify-content: center;
}
.information div{
    display: flex;
    flex-direction: column;
}
.plus{
    scale: 2;
    place-self: end;
}
.submitbutton{
    background-color: #3A6D8C;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    padding: 12px 20px;
    transition: all 0.15s;
    margin: 12px;
    margin: 1px auto;
}
.submitbutton:hover .forwardArrow{
    opacity: 1;
    translate: 0px;
}
.submitbutton span{
    position: relative;
    left: 10px;
    transition: all 0.15s;
}
.submitbutton:hover span{
    left: 0;
}



@media only screen and (max-width: 480px) {
    .nav-menu{
        position: fixed;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 0;
        flex-direction: column;
        width: 0;
        left: -100%;
        backdrop-filter: blur(15px);
        height: 100vh;
        margin-top: 0;
        z-index: 999;
    }
    .nav-menu li{
        margin-top: 30px;
    }
    .hamburger{
        display: flex;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
    .nav-menu.active{
        left: 0;
        width: 60%;
    } 
    .landingContent{
        max-width: 480px;
        overflow: hidden;
    }

    .landingButtons button{
        font-size: 15px;
    }
    .landingButtons button span{
        left: 0;
    }
    .submitbutton span{
        left: 0;
    }
    .forwardArrow{
        opacity: 1;
        translate: 0;
    }
    .keyFeatures ul{
        max-width: 480px;
    }
    .keyFeatures li{
        width: 270px;
        margin: 12px auto;
    }
    .steps{
        max-width: 480px;
        
    }
    .ssteps{
        max-width: auto;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center ;
    }
    .ssteps li{
        :after{
            display: none;
        }
    }
    .ssteps li:nth-child(even){
        float: left;
        :after{
            display: none;
        }
    }

}