
.document{
    height: 1120px;
    width: 792px;
    font-family: 'Ubuntu';
    display: flex;
    justify-content: center;
    padding: 1px;
    margin: 1px auto;
    background-color: white;
}
.container{
    width: 620px;
}
.Name{
    font-size: 2.5rem;
    color: black;
    font-weight: 450;
    margin-bottom: 0;
    margin-top: 70px;
}
.position{
    margin-top: 2px;
}
.contact{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 600px;
}
.contact div{
    display: flex;
    max-height: fit-content;
}
.contact-text{
    margin-top: 0;
    font-size: small;
    margin-left: 10px;
    color: black;
}
.icon{
    font-size: small;
    margin-top: 2px;
    fill: grey;
}
.document h3{
    position: relative;
    color: black;
}
.document h3::after{
    content: '';
    height: 2px;
    width: 100%;
    translate: 0 5px;
    position: absolute;
    background-color: rgb(87, 87, 87);
    bottom: 0;
    left: 0;
}
.document p, .document li{
    color: black;
    font-size: small;
}
